@media {
   h1 { font-size:20px;
        font-family:sans-serif;

    }
    body {
        font-size: 30px;
        font-family:sans-serif  
    }
    /*Phone styles here*/
    /*This media query targets any screen smaller than 576px wide (see below)*/
}

@media (min-width: 576px) {
    h1 {
        font-size:30px;
        font-family:sans-serif;
    }
    body {
        font-size: 40px;
        font-family:sans-serif;
    }
    /*Tablet-only styles here*/
    /*This media query targets any screen that is at least 576px wide (but smaller than 992px wide (see below)*/
}

@media (min-width: 992px) {
    h1 { font-size:40px;
        font-family:sans-serif;

    }
    body {
        font-size: 50px;
        font-family:sans-serif  
    }
    /*Desktop-only styles here*/
    /*This media query targets any screen that is at least 992px wide*/
}

@media (min-width: 1200px) {
    h1 { font-size:50px;
        font-family:sans-serif;

    }
    body {
        font-size: 65px;
        font-family:sans-serif;
    }
    /*Large-Desktop-only styles here*/
    /*This media query targets any screen that is at least 1200px wide*/
}
